# Dependencies
node_modules/

# Production Distribution
dist/
dist-electron/

# Environment Variables
.env
*.local

# Local Runtime Storage & User Uploads
server/data/
server/uploads/

# System Files
.DS_Store
Thumbs.db
